App/.vs
App/modules/EcoTech.ERP.Enterprise/bin
App/modules/EcoTech.ERP.Enterprise/obj
App/modules/EcoTech.ERP.Enterprise/Migrations
App/src/EcoTech.ERP.Api/bin
App/src/EcoTech.ERP.Web/EcoTech.ERP.Web/bin
App/src/EcoTech.ERP.Web/EcoTech.ERP.Web.Client/bin
App/src/EcoTech.ERP.Web/EcoTech.ERP.Web.Client/obj
App/src/EcoTech.ERP.Web/EcoTech.ERP.Web.Client/node_modules
App/src/EcoTech.ERP.Web/EcoTech.ERP.Web/obj
