@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    font-family: 'Google Sans Flex', sans-serif !important;
}

html {
    height: 100%;
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;

    height: 100dvh;
    width: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: rgb(16, 25, 34);
    color: #ededed;

    display: flex;
    flex-direction: column;
}
