@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    font-family: 'Google Sans Flex', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(16, 25, 34);
    color: #ededed;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
